body,html{
	min-width:1000px;
	font-size:14px;
	font-family:"Arial","Microsoft Yahei", "微软雅黑" ,"Tahoma", "Helvetica", "STXihei", "华文细黑", sans-serif;
	line-height:1.5;
	color:#333333;
	margin:0 auto;
	position: relative;
}
input,textarea,.sel-selected,.input-info{
	border:1px solid #ccc;
	background-color:#f4f4f4;
	border-radius:3px;
	outline-style:none;
	text-indent:1em;
	box-sizing:border-box;
	font-size:14px;
}
button{border:none;outline-style:none;}
textarea{resize:none;padding:5px 0 0 0;}
textarea::-webkit-input-placeholder{color:#9a9a9a;}
textarea:-moz-placeholder{color:#9a9a9a;}
textarea::-moz-placeholder{color:#9a9a9a;}
textarea:-ms-input-placeholder{color:#9a9a9a;}
input::-webkit-input-placeholder{color:#9a9a9a;}
input:-moz-placeholder{color:#9a9a9a;}
input::-moz-placeholder{color:#9a9a9a;}
input:-ms-input-placeholder{color:#9a9a9a;}

a{color:#153359;text-decoration:none;}
a.black{color:#333!important;}
a:hover{color:#009dbb;}
a.black:hover{color:#009dbb!important;}
.right{float:right!important;}
.hide{display:none!important;}
.outer{background:#f6f6f6;}
.w1200{width:1000px;}
.gray{
	color:#d0d0d0;
}
.red{
	color:#ee2d3a;
}
.teamico{
  width:15px;
  height:15px;
  display:inline-block;
  background:url(../images/sel_icon_1.png) no-repeat top center/cover;
  vertical-align:middle;
  margin-right: 8px;
}
.btn-mod{
	height:45px;
	line-height:45px;
	border-radius:3px;
	overflow:hidden;
	color:#fff;
	font-size:16px;
	display:inline-block;
	background-color:#153359;
	text-align:center;
	cursor: pointer;
}
.btn-mod:hover{color:#fff!important;background-color:#009dbb!important;}
.btn-mod.red{background-color:#ee2d3a;}
.btn-mod.white{background-color:#fff; color:#153359;}
.btn-mod.disable{
	background-color:#9a9a9a!important;
}
.content{
	max-width:1920px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	z-index:10;
}

.tag{margin-bottom:-15px;min-height:15px;}
.tag a{
	font-size:12px;
	color:#fff;
	padding:5px 15px;
	background-color:#153359;
	display:inline-block;
	margin:15px 10px 0 0;
	cursor: pointer;
	border-radius:3px;
}
.tag a:hover{
	background-color:#009dbb;
}
.tag a em,
.tag a i{
	vertical-align:middle;
}
.tag a i{
	width:11px;
	height:11px;
	display:inline-block;
	margin-left:10px;
	background:url(../images/close_white.png) no-repeat center;
}
.page{margin:40px 0;}
.page .p-wrap{
	text-align:center;
}
.page .p-wrap ul{display:inline-block;}
.page .p-wrap li{
	width:39px;
	height:39px;
	border-radius:5px;
	border:1px solid #e6e6e6;
	display:inline-block;
	line-height:39px;
	color:#9a9a9a;
	background-color:#fff;
	margin:0 3px;
	overflow: hidden;
	cursor: pointer;
}
.page .p-wrap li a{
	color:#9a9a9a;
	display:block;
}
.page .p-wrap li:hover,
.page .p-wrap li:hover a,
.page .p-wrap li.active,
.page .p-wrap li.active a{
	background-color:#009dbb;
	border:1px solid #009dbb;
	color:#fff;
}
.page .p-wrap li.dot,
.page .p-wrap li.disabled{
	border:1px solid #e6e6e6;
	background-color:#fff;
	color:#9a9a9a;
}
.page .p-wrap li.dot{
	cursor:default;
}
.page .p-wrap li.pn-prev,
.page .p-wrap li.pn-next{
	width:auto;
	padding:0 15px;
}

/* pop */
.pop{
	width:100%;
	background:rgba(0,0,0,.7);
	position:absolute;
	top:0;
	left:0;
	z-index:90;
	display:none;
}
.pop .container{
	padding:20px 45px;
	background-color:#fff;
	border-radius:3px;
	position: absolute;
	top:10%;
	left:50%;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	color:#333333;
}
.pop .container h2{
	font-size:26px;
	text-align:center;
}
.pop .container .close{
	width:19px;
	height:19px;
	position: absolute;
	top:20px;
	right:30px;
	background:url(../images/close.png) no-repeat;
	cursor: pointer;
}
.pop .container form{text-align:center;}
.pop .container form li{margin:28px 0;font-size:0;}
.pop .container form font{
	color:#9a9a9a;
	font-size:16px;
	width:80px;
	margin-right:30px;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
.pop .container form input{
	width:378px;
	height:39px;
	vertical-align:middle;
}
.pop .container form textarea{
	width:378px;
	height:160px;
	vertical-align:top;
}
.pop .container form .select .sel-con{
	width:378px;
	height:39px;
	display:inline-block;
	position: relative;
	vertical-align:middle;
}
.pop .container form button{
	width:175px;
	height:39px;
	line-height:39px;
}
.pop.attach .container .list{
	padding:0 20px;
	border-top:1px solid #f0f0f0;
	margin:20px 0;
	max-height:300px;
	overflow-y:auto;
}
.pop.attach .container .list ul li{
	margin:15px 0;
	font-size:16px;
}
.pop.attach .container .list ul li.zip .arrow{
	content:'';
	width:12px;
	height:7px;
	position: absolute;
	top:6px;
	right:0;
	cursor: pointer;
	background:url(../images/sort_ico_black.png) no-repeat center;
}
.pop.attach .container .list ul li.zip.off .arrow{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.pop.attach .container .list ul li.zip.off ol{
	display:none;
}
.pop.attach .container .list ul li .text i{
	margin-right:5px;
}
.pop.attach .container .list ul li b{
	width:16px;
	height:16px;
	margin-right:15px;
	border:1px solid rgba(206,206,206,.5);
	display:inline-block;
	vertical-align:middle;
	position: relative;
	cursor: pointer;
	border-radius:2px;
}
.pop.attach .container .list ul li.disable{
	color:#9a9a9a;
}
.pop.attach .container .list ul li.disable b{
	background-color: #cccccc;
	border-color:#b2b2b2;
	cursor:not-allowed;
}
.pop.attach .container .list ul li.selected b{
	border-color:#009dbb;
	background-color:#009dbb;
}
.pop.attach .container .list ul li.selected b::before{
	content:'';
	width:12px;
	height:10px;
	position: absolute;
	top:2px;
	left:1px;
	line-height: normal;
	background:url(../images/upload/selected_i.png)no-repeat center;
}
.pop.attach .container .list .btn-mod{
	width:100%;
	height:53px;
	line-height:53px;
	font-size:20px;
}
.preview-pop .container{
	width:60%;
	background-color:transparent;
}
.preview-pop .container .close{
	top: -20px;
    right: 0px;
	background-image:url(../images/close_w.png);
}
.preview-pop .container .swiper-slide{
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}
.preview-pop .container .swiper-slide img{
	width:100%;
	display: block;
}
.preview-pop .container .swiper-button-prev{
	left:-20px;
}
.preview-pop .container .swiper-button-next{
	right:-20px;
}

/* toolbar */
.toolbar{position: relative;z-index:80;}
.toolbar .search{
	padding:20px 0;
	background-color:#153359;
}
.toolbar .search form{
	height:42px;
	font-size:0;
}
.toolbar .search form input{
	width:90%;
	height:100%;
	border-radius:0;
	background-color:transparent;
	border:1px solid #fff;
	float:left;
	font-size:16px;
	color:#fff;
	border-right-width:0;
}
.toolbar .search form button{
	width:10%;
	height:100%;
	float:left;
	background:url(../images/s_ico.png) no-repeat top center #fff;
}
.toolbar .search form button:hover{
	background-color:#009dbb;
	background-position:bottom center;
}
.toolbar .sortbar{
	background-color: #fff;
    float: left;
    width: 100%;
    position: relative;
    z-index: 90;
}
.toolbar .sortbar .content{overflow:visible;}
.toolbar .sortbar .sort-item{
	width:60%;
	padding:20px 0;
	float:left;
}
.toolbar .sortbar .sort-item.right{
	width:40%;
}
.toolbar .sortbar .sort-item em{
	color:#9a9a9a;
	margin-right:30px;
}
.toolbar .sortbar .sort-item ul{display:inline-block;}
.toolbar .sortbar .sort-item ul li{
	display:inline-block;
	margin-right:30px;
	color:#153359;
	cursor: pointer;
	position: relative;
}
.toolbar .sortbar .sort-item ul li i.arrow-ico{
	border-top: solid 1px #333;
    border-right: solid 1px #333;
    content: "";
	height: 7px;
	display:inline-block;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
	width: 7px;
	vertical-align: middle;
	margin:-5px 0 0 10px;
}

/* header */
header{
	height:60px;
	margin:0 auto;
	position: relative;
	z-index:90;
}
header.pos-a{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index:90;
}
header .content{
	padding:0 2%;
	height:60px;
	overflow:visible;
}
header .logo{
	width:90px;
	height:60px;
	background:url(../images/logo.png) no-repeat center/cover;
	display:inline-block;
}
header .logo a{display:block;height:100%;}
header .nav-right ul li{float:left;line-height:60px;}
header .nav-right .language span{
	padding:0 30px;
	border-left:1px solid #153359;
	font-size:16px;
}
header .nav-right .language a:nth-child(1){
	border:0;
}
header .nav-right .language a{
	padding:0 20px;
	line-height:1.15;
	border-left:1px solid #153359;
	cursor: pointer;
}
header .nav-right a:hover,
header .nav-right .language a.active{color:#009dbb;}
header .nav-right .nav-user{
	font-size:0;
	margin-left:40px;
	position: relative;
}
header .nav-right .nav-user .name{
	font-size:18px;
	vertical-align:middle;
}
header .nav-right .nav-user .head{
	width:45px;
	height:45px;
	overflow: hidden;
	border-radius:100%;
	vertical-align:middle;
	display:inline-block;
	margin:-2px 0 0 18px;
}
header .nav-right .nav-user .user-subnav{
	width:155px;
	position: absolute;
	top:59px;
	right:0;
	font-size:14px;
	background-color:#fff;
	box-shadow:0 0 7px #e5e5e5;
	border-radius:3px;
	opacity:0;
	height:0;
	-webkit-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s;
	overflow: hidden;
}
header .nav-right .nav-user .user-subnav.active{
	opacity:1;
	height:auto;
	z-index:10;
}
header .nav-right .nav-user .user-subnav li{
	float:none;
	height:40px;
	line-height:40px;
}
header .nav-right .nav-user .user-subnav li a{
	display:block;
	padding-left:27px;
	color:#333;
}
header .nav-right .nav-user .user-subnav li a:hover{
	background-color:#009dbb;
	color:#fff;
}
header .nav-right .nav-user .user-subnav li.border{
	border-bottom:1px solid #f3f3f3;
}
header .nav-right .nav-user .user-subnav li.signout i{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	background:url(../images/usersubnav_i.png) no-repeat top center/100%;
}
header .nav-right .nav-user .user-subnav.active li.signout a:hover i{
	background-position:bottom center;
}
/* footer */
footer {
	max-width:1920px;
	margin:0 auto;
	height:36px;
	line-height:36px;
	padding:0 5%;
}
footer .copy{
	display:inline-block;
	color:#a7a7a7;
}
footer .copy .ml40{margin-left:40px;display:inline-block;}

/* index */
.index .bg img{
	width:100%;
	display:block;
}
.index .content{
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.index .search_wrap,
.index .h_search{position: relative;overflow:hidden;}
.index .search_wrap .content{
	top:46%;
}
.index .search_wrap .copy{
	color:#fff;
	font-size:45px;
	text-align:center;
	text-shadow:0 0 20px rgba(0,0,0,.4);
}
.index .search_wrap .search{
	width:727px;
	height:55px;
	border-radius:3px;
	overflow: hidden;
	margin:10.5% auto 0;
}
.index .search_wrap .search form{
	height:100%;
	font-size:0;
}
.index .search_wrap .arrow{
	position: absolute;
	bottom:7%;
	left:50%;
	color:#fff;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	cursor: pointer;
}
.index .search_wrap .arrow:hover{
	color: #009dbb;
}
.index .search_wrap .arrow::after{
	content:'';
	width:17px;
	height:9px;
	background:url(../images/index/arrow.png) no-repeat center/cover;
	position: absolute;
	bottom:-20px;
	left:50%;
	margin-left:-8.5px;
}
.index .search_wrap .search form input::-webkit-input-placeholder{color:#d0d0d0;}
.index .search_wrap .search form input:-moz-placeholder{color:#d0d0d0;}
.index .search_wrap .search form input::-moz-placeholder{color:#d0d0d0;}
.index .search_wrap .search form input:-ms-input-placeholder{color:#d0d0d0;}
.index .search_wrap .search form input{
	border-radius:0;
	border:none;
	width:80%;
	height:100%;
	font-size:16px;
	vertical-align:middle;
}
.index .search_wrap .search form button{
	width:20%;
	height:100%;
	vertical-align:middle;
	border-radius:0;
	font-weight:bold;
}
.index .search_wrap .search form button:before,
.index .h_search .content .btn-mod:before{
	content:'';
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:middle;
	margin:-3px 15px 0 0;
	background:url(../images/index/s_i.png) no-repeat center/100%;
}
.index .h_search .content{width:760px; margin:0 auto;overflow:visible;}
.index .h_search .content .search_sel {font-size:0;margin-bottom:50px;}
.index .h_search .content .search_sel li{
	width:210px;
	height:210px;
	margin-left:8.5%;
	border-radius:100%;
	display:inline-block;
	background-color:#153359;
	font-size:19px;
	color:#fff;
	text-align:center;
	cursor: pointer;
	position: relative;
}
.index .h_search .content .search_sel li:hover{
	background-color:#ee2d3a;
}
.index .h_search .content .search_sel li:first-child{
	margin-left:0;
}
.index .h_search .content .search_sel li i{
	width:94px;
	height:94px;
	display:block;
	margin:14% auto 11%;
}
.index .h_search .content .search_sel li i.i_1{
	background:url(../images/index/s_r_i1.png) no-repeat center/cover;
}
.index .h_search .content .search_sel li i.i_2{
	width:96px;
	background:url(../images/index/s_r_i2.png) no-repeat center/cover;
}
.index .h_search .content .search_sel li i.i_3{
	width:77px;
	background:url(../images/index/s_r_i3.png) no-repeat center/cover;
}
.index .h_search .content .search_sel li.active::before{
	content:'';
	width:60px;
	height:60px;
	position: absolute;
	top:10px;
	left:-20px;
	background:url(../images/index/s_r_active.png) no-repeat center/cover;
}
.index .h_search .content .btn-mod{
	width:100%;
	height:55px;
	line-height:55px;
}
.index .h_search .s_popwrap{
	height:100%;
	background-color:rgba(22,52,90,.93);
}
.index .h_search .s_popwrap .content{
	width:63%;
	height:100%;background:url(../images/index/pop_bg.png) no-repeat center/100%;
}
.eng .index .h_search .s_popwrap .content{
	background-image:url(../images/index/pop_bg_eng.png);
}
.index .h_search .s_popwrap .close{
	width:24px;
	height:24px;
	position: absolute;
	top:2%;
	right:4%;
	cursor: pointer;
	background:url(../images/index/close.png) no-repeat center/100%;
}
.index .h_search .s_popwrap .title{
	font-size:26px;
	color:#fff;
	text-align:center;
	padding:8% 0;
}
.index .h_search .s_popwrap .title i{
	width:29px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/index/pop_tl_ico.png) no-repeat 0 0/100%;
}
.index .h_search .s_popwrap .title span{
	padding-left:18px;
	vertical-align:middle;
}
.index .h_search .s_popwrap .s_poplist{
	width:86%;
	margin:0 auto;
	position: relative;
}
.index .h_search .s_popwrap .btn{
	width:100%;
	height:11%;
	position: absolute;
	bottom:0;
	left:0;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
.index .h_search .s_popwrap .s_poplist .btn:hover{
	background-color:#16345a;
	color:#fff;
}
.index .h_search .s_popwrap .s_poplist h3{
	font-size:33px;
	color:#fff;
	text-align:center;
	margin-top:50px;
}
.index .h_search .s_popwrap .s_poplist ol{
	margin:0 auto;
}
.eng .index .h_search .s_popwrap .s_poplist ol{
	margin-top:0;
}
.index .h_search .s_popwrap .s_poplist li{
	float: left;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	color:#fff;
}
.index .h_search .category .s_poplist li{
	width: 27%;
	border-radius: 2px;
	background-color: #fff;
	margin: 2% 3%;
	color: #333;
	font-size: 115%;
	padding: 2.3% 0;
	position: relative;
}
.index .h_search .category .s_poplist li i.arrow{
	content:'';
	position: absolute;
	bottom:-15px;
	left:50%;
	width: 0;
	height: 0;
	margin-left:-15px;
	border-style: solid;
	border-width: 0 12px 9px 12px;
border-color: transparent transparent #153359 transparent;
	display:none;
}
.index .h_search .category .s_poplist li .sublist{
	width:344.8%;
	position: absolute;
	top:100%;
	left:0;
	font-size:80%;
	border-radius:3px;
	z-index:80;
	display:none;
	padding-top:15px;
}
.index .h_search .category .s_poplist li .sublist ul,
.index .h_search .category .s_poplist li .sublist ol{background-color:#153359;overflow: hidden;padding-bottom:3%;}
.index .h_search .category .s_poplist li .sublist .swiper-pagination{
	background-color:#153359;
	height: 30px;
	position: relative;
	margin-top: -7px;
	bottom:initial;
	left:initial;
}
.index .h_search .category .s_poplist li .sublist .swiper-pagination .swiper-pagination-bullet,
.index .h_search .category .s_poplist li .sublist .swiper-pagination .swiper-pagination-bullet-active{
	background:#fff;
}
.index .h_search .category .s_poplist li .sublist .swiper-pagination .swiper-pagination-bullet{margin:0 7px}
.index .h_search .category .s_poplist li:nth-child(3n+2) .sublist{
	-webkit-transform:translateX(-35.5%);
	transform:translateX(-35.5%);
}
.index .h_search .category .s_poplist li:nth-child(3n+3) .sublist{
	-webkit-transform:translateX(-71%);
	transform:translateX(-71%);
}
.index .h_search .category .s_poplist li .sublist li{
	width:21%;
	margin:3% 0 0 3%;
}
.index .h_search .category .s_poplist li:hover,
.index .h_search .category .s_poplist li.active{
	background-color:#153359;
	color:#fff;
}
.index .h_search .category .s_poplist li:hover i.arrow,
.index .h_search .category .s_poplist li:hover .sublist{
	display:inline;
}
.index .h_search .category .s_poplist li .sublist li:hover,
.index .h_search .category .s_poplist li .sublist li.active{
	background-color:#009dbb;
	color:#fff;
}



.index .h_search .team .title i{
	background-position:0 -29px;
}
.index .h_search .team .s_poplist ul,
.index .h_search .format .s_poplist ul{
	width: auto;
}
.index .h_search .format .s_poplist ul{font-size:0;text-align: center;}
.index .h_search .team .s_poplist li,
.index .h_search .format .s_poplist li{
	width:33%;
    margin: 30px 0;
}
.index .h_search .format .s_poplist li{float:none;display: inline-block;}
.index .h_search .team .s_poplist li::before{
	content:'';
	width:49px;
	height:47px;
	background:url(../images/index/team_i.png) no-repeat 0 0/100%;
	display:block;
	margin:0 auto 10px;
}
.index .h_search .team .s_poplist li:hover,
.index .h_search .team .s_poplist li.active,
.index .h_search .format .s_poplist li:hover,
.index .h_search .format .s_poplist li.active{
	color:#153359;
}
.index .h_search .team .s_poplist li:hover::before,
.index .h_search .team .s_poplist li.active::before{
	background-position:0 -48px;
}

.index .h_search .format .title i{
	background-position:0 -57px;
}
.index .h_search .format .s_poplist li i{
	width:48px;
	height:45px;
	background:url(../images/index/format_i.png) no-repeat 0 0/200%;
	display:block;
	margin:0 auto 10px;
}
.index .h_search .format .s_poplist li i.img-ico{
	background-position:0 0;
}
.index .h_search .format .s_poplist li i.video-ico{
	background-position:0 -45px;
}
.index .h_search .format .s_poplist li i.zip-ico{
	background-position:0 -91px;
}
.index .h_search .format .s_poplist li i.office-ico{
	background-position:0 -137px;
}
.index .h_search .format .s_poplist li i.audio-ico{
	background-position:0 -183px;
}
.index .h_search .format .s_poplist li i.file-ico{
	background-position:0 -233px;
}
.index .h_search .format .s_poplist li:hover i.img-ico,
.index .h_search .format .s_poplist li.active i.img-ico{
	background-position:-49px 0;
}
.index .h_search .format .s_poplist li:hover i.video-ico,
.index .h_search .format .s_poplist li.active i.video-ico{
	background-position:-49px -45px;
}
.index .h_search .format .s_poplist li:hover i.zip-ico,
.index .h_search .format .s_poplist li.active i.zip-ico{
	background-position:-49px -91px;
}
.index .h_search .format .s_poplist li:hover i.office-ico,
.index .h_search .format .s_poplist li.active i.office-ico{
	background-position:-49px -137px;
}
.index .h_search .format .s_poplist li:hover i.audio-ico,
.index .h_search .format .s_poplist li.active i.audio-ico{
	background-position:-49px -183px;
}
.index .h_search .format .s_poplist li:hover i.file-ico,
.index .h_search .format .s_poplist li.active i.file-ico{
	background-position:-49px -233px;
}

/* poptool */
.poptool{
	position: fixed;
	top:50%;
	right:0;
	margin-top: -80px;
	z-index:90;
}
.poptool .tab{
	width:52px;
	height:58px;
	margin-bottom:1px;
	position: relative;
	cursor: pointer;
}
.poptool .tab .tab-ico{
	width:52px;
	height:58px;
	display:inline-block;
	position:relative;
	z-index:1;
	background:url(../images/poptool.png) no-repeat 0 0/100% #153359;
}
.poptool .gotop .tab-ico{
	background-position:0 -58px;
}
.poptool .tab .tab-text{
	width:185px;
	height:58px;
	padding-left:30px;
	background-color:#153359;
	position: absolute;
	top:0;
	left:0;
	font-style:normal;
	color:#fff;
	line-height:58px;
	font-size:19px;
	opacity:0;
	-webkit-transition: left .3s ease-in-out .1s, opacity .3s ease-in-out .1s;
    transition: left .3s ease-in-out .1s, opacity .3s ease-in-out .1s;
}
.poptool .tab .tab-text a{
	color:#fff;
	height:100%;
	display:block;
}
.poptool .tab .tab-text a:hover{
	color:#fff;
}
.poptool .tab:hover .tab-text{left:-185px;opacity:1;}
/* login */
.login{
	background:url(../images/login/bg.jpg) no-repeat center/cover;
}
.login .content{overflow:hidden;height:100%;text-align:right;}
.login .content .login-wrap{
	width:423px;
	min-height: 423px;
	padding-bottom:30px;
	background-color:#fff;
	border-radius:7px;
	margin:60px 5% 60px 0;
	text-align:center;
	display:inline-block;
}
.login .content .login-wrap .copy{
	width:320px;
	font-size:22px;
	margin:80px auto;
	color:#666;
}
.eng .login .content .login-wrap .copy{
	width:335px;
	margin:50px auto;
}
.login .content .login-wrap input{
	width:320px;
	height:39px;
	margin-bottom:30px;
}
.login .content .login-wrap .sel-con,
.login .content .login-wrap .sel-selected{width:320px;display:block;margin:0 auto 20px;}
.login .content .login-wrap .sel-selected{height:49px;line-height:49px;text-align:left;}
.login .content .login-wrap .btn-mod{
	width:320px;
	height:49px;
	line-height:49px;
	margin-bottom:12px;
}
.login .content .login-wrap .btn-mod:hover{
	background-color:#009dbb;
}
.login .content .login-wrap .hint{
	width:320px;
	height:49px;
	color:#6c5c5e;
	background-color:#fbcace;
	border:1px solid #f68f96;
	border-radius:3px;
	text-align:left;
	line-height:49px;
	display:inline-block;
	margin-bottom:20px;
	padding-left:20px;
}
.login .content .login-wrap .hint i{
	width:16px;
	height:16px;
	overflow:hidden;
	border-radius:100%;
	background-color:#ed2c3a;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	position: relative;
}
.login .content .login-wrap .hint i::before{
	content:'';
	width:9px;
	border-top:1px solid #fbcace;
	position: absolute;
	top:5px;
	left:8px;
	-webkit-transform:rotate(-40deg) translate(-50%,-50%);
	-ms-transform:rotate(-40deg) translate(-50%,-50%);
	-o-transform:rotate(-40deg) translate(-50%,-50%);
	transform:rotate(-40deg) translate(-50%,-50%);
}

.login .content .login-wrap .login-links{width:320px;display:inline-block;text-align:left;}
.login .content .login-wrap .login-links,
.login .content .login-wrap .login-links a{
	color:#9a9a9a;
}
.login .content .login-wrap .login-links a:hover{color:#009dbb;}

.login .content .mb20 h1{
	margin:.8em 0;
}
.login .content .mb20 input{
	margin-bottom:20px;
}

/* error */
.error .content{
	padding:70px 0;
	text-align:center;
}
.error .copy{
	font-size:26px;
	text-align:center;
	color:#333;
	margin-top:60px;
}
.error .btn-con{
	margin-top:50px;
	text-align:center;
}
.error .btn-con .btn-mod{
	width:150px;
	margin:0 17px;
}
.eng .error .btn-con .btn-mod{
	width:285px;
}

/* upload */
.upload .content{padding:80px 0 40px;}
.upload .btn-push{
	width:166px;
	height:45px;
	line-height:45px;
	font-weight:bold;
}
.upload .item{
	width:100%;
	background-color:#fff;
	margin-bottom:40px;
	border-radius:3px;
	position: relative;
}
.upload .item .title{
	height:65px;
	line-height:65px;
	padding:0 25px;
	border-bottom:1px solid #f6f6f6;
}
.upload .item .title h2{
	font-size:22px;
}
.upload .item .container{
	padding:30px 60px;
}
.upload .item .col-3 label{
	width:30%;
	margin-left:5%;
}
.upload .item .col-3 label:first-child{
	margin-left:0;
}
.upload .item .sel-con{
	width: 100%;
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 3px;
    outline-style: none;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.upload .item .sel-con em,
.upload .item .sel-con .selectedbox{
	line-height:39px;
	height:39px;
	overflow: hidden;
    text-indent: 1em;
    display:block;
}
.upload .item .sel-con .selectedbox{display:none;}
.upload .item .sel-con .arrow{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 39px;
  height: 39px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/39px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.upload .item .sel-con .arrow::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border:8px solid transparent;
	border-top-color: #BBB;
	border-bottom: none;
}
.upload .item .sel-con:hover .arrow:after{border-top-color:#9a9a9a}
.upload .item .file,.upload .item .upimg{
	width: 360px;
  height: 220px;
	border-radius:3px;
	border:1px dashed #ccc;
	background-color:#f4f4f4;
	position: relative;
	display:inline-block;
	vertical-align:top;
}
.upload .item .upimg{
	border:none;
	border-radius:5px;
	overflow: hidden;
	margin-left:20px;
}
.upload .item .upimg .load{
	background-color:rgba(0,0,0,.6);
	position: absolute;
	width:100%;
	height:100%;
	color:#fff;
	text-align:center;
	font-size:24px;
}
.upload .item .upimg .load span{
	width:100%;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-5%;
}
.upload .item .upimg img{
	height:100%;
	display:block;
}
.upload .item .file input{
	width:100%;
	height:100%;
	opacity:0;
    filter:alpha(opacity=0);
	cursor: pointer;
	position: relative;
	z-index:2;
}
.upload .item .file .file-text{
	position: absolute;
	width:100%;
	text-align:center;
	font-size:16px;
	color:#9a9a9a;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:1;
}
.upload .item .file .file-text i{
	display:block;
	margin:0 auto 15px;
	width:50px;
	height:50px;
	background:url(../images/upload/add_i.png) no-repeat center;
}
.upload .item .file .file-text p{
	margin-top:20px;
}
.upload .item .file .file-text p span{
	display: block;
}
.upload .item .file-img {
	border-style:solid;
}
.upload .item .light-ico::before{
	content:'';
	width:8px;
	height:8px;
	border-radius:8px;
	overflow:hidden;
	position: absolute;
	left:-20px;
	top:16px;
	background-color:#ee2d3b
}
.upload .item li{
	font-size:0;
}
.upload .item li label{width:100%;position: relative;display:inline-block;}
.upload .item li label .hint-text,
.upload .item li label .s-ico{
	height:37px;
	line-height:37px;
	padding:0 10px;
	position: absolute;
	top:1px;
	right:1px;
	font-size:14px;
	font-style:normal;
	color:#d0d0d0;
    background-color: #f4f4f4;
    border-radius:0 3px 3px 0;
}
.upload .item li label .hint-text.red{
	color:#ee2d3b;
}
.upload .item li label .s-ico{
	width:30px;
	background:url(../images/upload/s_i.png) no-repeat left center;
}

.upload .item .userinfo-form input::-webkit-input-placeholder{color:#d0d0d0;}
.upload .item .userinfo-form input:-moz-placeholder{color:#d0d0d0;}
.upload .item .userinfo-form input::-moz-placeholder{color:#d0d0d0;}
.upload .item .userinfo-form input:-ms-input-placeholder{color:#d0d0d0;}
.upload .item .userinfo-form input,#searchList .input-info{
	width:100%;
	height:39px;
	line-height:39px;
}
.upload .item .upbox{
	display:inline-block;
	margin-left:20px;
}
.upload .item .upbox .list{margin-bottom:5px;}
.upload .item .upbox .list i.ico{
	width:15px;
	height:15px;
	background:url(../images/upload/d_ico.png) no-repeat 0 0/100%;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.upload .item .upbox .list i.zip{
	background-position:0 -80px;
}
.upload .item .upbox .list span{
	font-size:16px;
	display:inline-block;
	vertical-align:middle;
}
.upload .item .upbox i.close{
	width:18px;
	height:18px;
	background:url(../images/upload/up_close.png) no-repeat center/cover;
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	cursor: pointer;
}
.upload .item .upbox .load span{
	width:350px;
	height:10px;;
	background-color:#f4f4f4;
	display:inline-block;
	border-radius:10px;
	overflow: hidden;
	margin-right:10px;
}
.upload .item .upbox .load span b{
	height:100%;
	background-color:#009dbb;
	display:block;
	border-radius:10px;
}
.upload .item .upbox .load em{
	font-size:16px;
	color:#9a9a9a;
	display:inline-block;
	vertical-align:middle;
}
#searchList .input-info em{
	color:#d0d0d0;
}
#searchList .mui-indexed-list-search-input{
	position: absolute;
	top:0;
	left:0;
	display:none;
}
#searchList.active .mui-indexed-list-search-input{
	display:block;
}
.upload .item .userinfo-form li{
	width:85%;
	margin-bottom:30px;
}
.upload .item .userinfo-form li .sel-con .sel-list li{
	width:auto;
}
.upload .item .error{
	position: absolute;
	background:#fff;
	width:360px;
	height:230px;
	box-shadow:0 0 15px #ccc;
	border-radius:5px;
	z-index:10;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	text-align:center;
	display:none;
}
.upload .item .error .container{
	position: absolute;
	top:50%;
	left:0;
	width:100%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	padding:0 30px;
}
.upload .item .error i{
	width:80px;
	height:80px;
	background:url(../images/upload/error_ico.png) no-repeat center/cover;
	display:inline-block;
}
.upload .item .error p{
	font-size:17px;
	margin-top:10px;
}
.upload .item .error .close{
	width:19px;
	height:19px;
	position: absolute;
	top:15px;
	right:15px;
	background:url(../images/close.png) no-repeat;
	cursor: pointer;
	z-index:10;
}

/* details */
.details .d-container{
	text-align: justify;
	font-size:16px;
	line-height:1.3;
}
.details .d-container .info{
	padding:10px 40px;
	background-color:#fff;
	margin:40px 0;
	position: relative;
}
.details .d-container .info .btn{
	position: absolute;
	right:28px;
	top:28px;
}
.details .d-container .info .btn .ico{
	width:38px;
	height:38px;
	margin-left:15px;
	display:inline-block;
	cursor: pointer;
	background:url(../images/details/r_ico.png) no-repeat 0 0;
}
.details .d-container .info .btn .ico.collect.active{
	background-image:url(../images/details/r_ico_collect.png);
}
.details .d-container .info .btn .ico.share{
	background-position:0 -40px;
}
.details .d-container .info .btn .ico.download{
	background-position:0 -80px;
}
.details .d-container .info h1{
	font-size:32px;
	margin:20px 0;
	width:76%;
}
.details .d-container .info .desc{
	margin:20px 0;
	width:76%;
	color:#666;
}
.details .d-container .info .intro{
	color:#9a9a9a;
	margin:20px 0;
}
.details .d-container .info .intro,
.details .d-container .info .attributes{font-size:14px;}
.details .d-container .info .intro span{margin-right:40px;/*width:30%;*/word-break:break-all;}
/* .details .d-container .info .intro span:nth-child(1){width:25%;}
.details .d-container .info .intro span:nth-child(2){width:35%;} */
.details .d-container .info .attributes{padding:20px 0;border-top:1px solid #f6f6f6;}
.details .d-container .info .attributes em{
	margin-right:20px;
}
.details .d-container .info .attributes span{/*width:30%;*/margin-right:40px; word-break:break-all;}
/* .details .d-container .info .attributes span:nth-child(1){width:25%;}
.details .d-container .info .attributes span:nth-child(2){width:35%;} */
.details .d-container .info .attributes.tagbox span{width:auto;margin-right:20px;}
.details .d-container .info .attributes span i.ico{
	width:15px;
	height:15px;
	margin:-2px 5px 0 10px;
	display:inline-block;
	vertical-align: middle;
	background:url(../images/details/d_ico.png) no-repeat;
}
.details .d-container .info .attributes span i.ico:first-child{
	margin-left:0;
}
.details .d-container .info .attributes span i.office{
	background-position:0 0;
}
.details .d-container .info .attributes span i.audio{
	background-position:0 -16px;
}
.details .d-container .info .attributes span i.file{
	background-position:0 -32px;
}
.details .d-container .info .attributes span i.img{
	background-position:0 -48px;
}
.details .d-container .info .attributes span i.video{
	background-position:0 -64px;
}
.details .d-container .info .attributes span i.zip{
	background-position:0 -80px;
}
.details .d-container .d-content{
	padding:0 20px 40px;
	background-color:#fff;
	margin:40px 0;
	color:#666;
}
.details .d-container .d-content p{
	padding:40px 20px;
	line-height:1.5;
}
.details .d-container .d-content .attach{
	margin:0 20px;
	border:1px solid #153359;
}
.details .d-container .d-content .attach .title{
	background-color:#153359;
	height:62px;
	font-size:20px;
	line-height:62px;
	font-weight:bold;
	color:#fff;
	padding:0 30px;
}
.details .d-container .d-content .attach .title i{
	width:20px;
	height:20px;
	margin-right:15px;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/attach_ico.png) no-repeat 0 0;
}


/* attach */
.attach .list{padding:0 30px; margin-bottom:-20px;}
.attach .list ul li{
	overflow:hidden;
	margin:20px 0;
}
.attach .list ul li .text{
	line-height:32px;
	position: relative;
    padding-right:20px;
}
.attach .list ul li .text i{
	width:15px;
	height:15px;
	margin:-2px 15px 0 0;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/attach_ico.png) no-repeat 0 -21px;
}
.attach .list ul li .text em{
	color:#9a9a9a;
}
.attach .list ul li.zip .text i{
	background-position:0 -36px;
}
.attach .list ul li.zip ol{
	padding-left:30px;
}
.attach .list ul li.zip ol li.disable .text i{
	background-position:0 -21px;
}
.attach .list ul li.zip.disable .text i{
	background-position:-21px -36px;
}
.attach .list ul li.disable .text i,
.attach .list ul li.zip ol li.disable .text i{
	background-position:-21px -21px;
}
.attach .list .btn-mod{
	width:84px;
	height:32px;
	line-height:32px;
	font-size:16px;
	border-radius:2px;
}
.eng .attach .list .btn-mod{
	width:120px;
}
.attach .list .btn-mod.preview{margin-right:20px;}

/* user */
.user{padding:25px 0;}
.user .content{
	margin:30px auto;
}
.user .content .list{overflow: hidden;}
.user .user-wrap{
	border-radius:3px;
	background-color:#fff;
}
.user .user-wrap .databar{
	background-color:#153359;
	padding:15px;
	color:#fff;
}
.user .user-wrap .databar{overflow: hidden;}
.user .user-wrap .databar ul{float: left;}
.user .user-wrap .databar ul li{
	width:145px;
	text-align:center;
	display:inline-block;
	position: relative;
}
.user .user-wrap .databar ul li:first-child::before{
	content:'';
	position:absolute;
	height:25px;
	border-left:1px solid #96a2af;
	top:50%;
	right:0;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.user .user-wrap .databar em{
	color:#96a2af;
	display:block;
}
.user .user-wrap .databar span{
	font-size:22px;
	display:block;
}
.user .user-wrap .userbox{margin-top:-55px}
.user .user-wrap .userbox .userset{
	position: absolute;
	top:110px;
	right:40px;
}
.user .user-wrap .userbox .userset i{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
	background:url(../images/set_i.png) no-repeat center;
}
.user .user-wrap .userbox .userhead{
	width:105px;
	height:105px;
	overflow: hidden;
	border-radius:100%;
	margin:0 auto;
	border:1px solid rgba(154,154,154,.2);
}
.user .user-wrap .userbox .userinfo{
	text-align:center;
}
.user .user-wrap .userbox .userinfo .name{
	font-size:22px;
	font-weight:bold;
	margin:15px 0 0;
}
.user .user-wrap .userbox .userinfo .email{
	color:#9a9a9a;
}
.user .user-wrap .userbox .btnbox{
	width:120px;
	height:35px;
	margin:20px auto 35px;
	overflow: hidden;
}
.user .user-wrap .userbox .btnbox .btn-mod{
	width:120px;
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
}
.user .user-wrap .userbox .tabnav{
	border-top:1px solid #f0f0f0;
	text-align:center;
}
.user .user-wrap .userbox .tabnav ul{
	
}
.user .user-wrap .userbox .tabnav ul li{
	height:60px;
	line-height:60px;
	margin:0 30px;
	cursor: pointer;
	display:inline-block;
}
.user .user-wrap .userbox .tabnav ul li:hover,
.user .user-wrap .userbox .tabnav ul li.active{
	border-bottom:2px solid #009dbb;
	color:#009dbb;
}
.user .sortbar{
	padding:20px 0;
	border-radius:3px;
	background-color:#fff;
	overflow:visible;
	z-index:90;
}
.user .sortbar ul li{
	margin:0 20px;
	cursor: pointer;
	position: relative;
	display:inline-block;
}
.user .sortbar ul li i{
	border-top: solid 1px #333;
    border-right: solid 1px #333;
    content: "";
	height: 7px;
	display:inline-block;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
	width: 7px;
	vertical-align: middle;
	margin:-5px 0 0 10px;
}

.user .sortbar ul li:hover,
.user .sortbar ul li.active{
	color:#009dbb;
}
.pop-share .container form{text-align:left;}
.pop-share .container form li{margin:35px 0;}
.pop-share .container form font{
	color:#9a9a9a;
}
.pop-share .container form input{
	width:100%;
	height:39px;
}
.pop-share .container form button{
	width:30%;
	margin: 0 auto;
    display: block;
}
.pop-share .container form label{
	position: relative;
	width:378px;
	height:39px;
	display:inline-block;
	vertical-align:middle;
}
.pop-share .sel-con{
	width: 84%;
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 3px;
    outline-style: none;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    display:inline-block;
}
.pop-share .sel-con em,
.pop-share .sel-con .selectedbox{
	line-height:39px;
	height:39px;
	overflow:hidden;
    text-indent: 1em;
    display:block;
}
.pop-share .sel-con .selectedbox{display:none;}
.pop-share .sel-con .arrow{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 39px;
  height: 39px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/39px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.pop-share .sel-con .arrow::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border:8px solid transparent;
	border-top-color: #BBB;
	border-bottom: none;
}
.pop-share .sel-con:hover .arrow:after{border-top-color:#9a9a9a}

.pop-share .sel-con .sel-list ul{overflow:hidden;}
.pop-share .sel-con .sel-list li{
	width: 50%;
    line-height: 36px;
    font-size: 14px;
    margin: 0;
    padding: 0 10%;
    float: left;
    position: relative;
}
.eng .pop-share .sel-con .sel-list li{
	width:100%;
}
.pop-share .sel-con .sel-list h3{
    padding:15px 10% 5px;
}
.pop-share .sel-con .sel-list li:hover i,
.pop-share .sel-con .sel-list li.selected i{
	background-color:#009dbb;
	border-color:#009dbb;
	color:#fff;
}
.pop-share .s-ico{
	width:30px;
	height:100%;
	line-height:39px;
	padding:0 10px;
	position: absolute;
	top:0;
	right:0;
	font-size:14px;
	font-style:normal;
	color:#d0d0d0;
	border:1px solid #ccc;
	border-width:1px 1px 1px 0;
    background-color: #f4f4f4;
    border-radius:0 3px 3px 0;
	background:url(../images/upload/s_i.png) no-repeat left center;
}
.user .setup{background-color:#fff;border-radius:3px;}
.user .setup .sethead{
	width:160px;
	height:160px;
	overflow:hidden;
	border-radius:100%;
	margin:30px auto 25px;
	position: relative;
}
.user .setup .sethead img{
	width:100%;
}
.user .setup .sethead .mask{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#fff;
	text-align:center;
	line-height:160px;
	font-size:18px;
	opacity:0;
	background:rgba(0,0,0,.7);
	-webkit-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s;
	cursor: pointer;
}
.eng .user .setup .sethead .mask{
	line-height:normal;
	padding-top:38%;
}
.user .setup .sethead:hover .mask{
	opacity:1;
}
.user .setup .sethead input{
	background:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	cursor: pointer;
}
.user .setup .name{
	text-align:center;
	font-size:28px;
}
.user .setup .setinfo{
	margin:30px 0;
	padding-top:30px;
	border-top:1px solid #e4e4e4;
}
.user .setup .setinfo form{overflow:hidden;}
.user .setup .setinfo .item{
	margin:40px 0;
	display:block;
	text-align:center;
}
.user .setup .setinfo .item em{
	width:80px;
	height:39px;
	line-height:39px;
	margin-right:3%;
	display:inline-block;
	color:#9a9a9a;
	font-size:18px;
	vertical-align:top;
}
.user .setup .setinfo .item label{
	width:35%;
	display:inline-block;
	vertical-align:top;
}
.user .setup .setinfo .item label input{
	width:100%;
	height:39px;
	font-size:18px;
}
.user .setup .setinfo .item label p.hint{
	text-align:left;
	margin-top:10px;
	color:#d0d0d0;
}
.user .setup .setinfo .item .btn-mod{
	width:10%;
	height:39px;
	line-height:39px;
	vertical-align:middle;
	margin-left:3%;
}
.user .checkpop{
	width:100%; 
	height:60px;
	top:0;
	left:0;
	position:fixed;
	background-color:#153359;
	z-index:91;
	display:none;
}
.user .checkpop .content{
	margin:0 auto;
}
.user .checkpop .checkAll{
	float:left;
	color:#fff;
	line-height:60px;
	font-size:16px;
	cursor: pointer;
}
.user .checkpop .checkAll i{
	width:18px;
	height:18px;
	display:inline-block;
	border-radius:2px;
	vertical-align:middle;
	border:1px solid #fff;
	margin-right:15px;
}
.user .checkpop .checkAll.selected i{
	background:url(../images/sel_i.png) no-repeat center #009dbb;
	border:1px solid #009dbb;
}
.user .checkpop .btn-mod{
	height:35px;
	line-height:35px;
	font-size:15px;
	font-weight:bold;
	margin-top:12px;
	padding:0 15px;
}
.user .checkpop .cancel-share{margin-right:15px;}
/* list */
.list-item{margin-top:-30px;}
.list-item li{
	width:323px;
	background-color:#fff;
	position: relative;
	float:left;
	margin:40px 15px 0 0;
}
.list-item li.upload{
	background-color:#fff;
	padding:30px;
	position: relative;
}
.list-item li.upload .file{height:100%;border:2px dashed #e1e1e1;position: relative;}
.list-item li.upload .file input{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	cursor:pointer;
    filter:alpha(opacity=0);
    z-index:10;
}
.list-item li.upload .file .file-text{
	position: absolute;
	width:100%;
	text-align:center;
	font-size:16px;
	color:#9a9a9a;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:1;
}
.list-item li.upload .file .file-text i{
	display:block;
	margin:0 auto 15px;
	width:50px;
	height:50px;
	background:url(../images/upload/add_i.png) no-repeat center;
}
.list-item li.upload .file p{
	margin-top:20px;
}
.list-item li.upload .file p span{
	display: block;
}
.list-item li:nth-child(3n+3){
	margin-right:0;
}
.list-item li .img{width:100%; height:282px; overflow:hidden; text-align:center;}
.list-item li .img img{width:100%;display:inline-block;}
.list-item li .img .ico-box{position:absolute;top:5px;font-size:0;}
.list-item li .img .ico-box i{
	width:42px;
	height:42px;
	display:inline-block;
	margin-left:5px;
	cursor: pointer;
	background:url(../images/list_ico.png) no-repeat 0 0;
}
.list-item li .ico-box i.doc{
	background-position:0 0;
}
.list-item li .ico-box i.video{
	background-position:0 -43px;
}
.list-item li .ico-box i.zip{
	background-position:0 -86px;
}
.list-item li .ico-box i a{height:100%;display:block;}
.list-item li .text{padding:15px 20px 20px;}
.list-item li .text p{font-size:16px;margin-bottom:20px;height:48px;overflow: hidden;}
.list-item li .text em{color:#9a9a9a;}
.list-item li .toolbox{
	margin:0 15px;
	padding:12px 0;
	border-top:1px solid #ebebeb;
}
.list-item li .toolbox span{
	margin-right:40px;
	display:inline-block;
	color:#9a9a9a;
	cursor: pointer;
}
.list-item li .toolbox span:hover{
	color:#009dbb;
}
.list-item li .selectbox{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.7);
	z-index:11;
	cursor: pointer;
	display:none;
}
.list-item li .selectbox i{
	width:20px;
	height:20px;
	position: absolute;
	top:14px;
	right:14px;
	border-radius:2px;
	border:1px solid #fff;
}
.list-item li.selected .selectbox i{
	background:url(../images/sel_i.png) no-repeat center #009dbb;
	border:1px solid #009dbb;
}

.searchend .list-item{
	margin-top:0;
	margin-bottom:40px;
}
.searchend .list-item li .toolbox{
	margin:0;
	padding:0;
	border:0;
}
.searchend .list-item li .toolbox .btn-mod{
	width:49.8%;
	border-radius:0;
	float:left;
}

/* search-list */
.search-list{
	width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    z-index: 10;
    color: #333;
    box-shadow: 0 0 7px #e5e5e5;
    border-radius: 3px;
    display:none;
}
.search-list .mui-indexed-list-search{
	position: relative;
	overflow:hidden;
}
.search-list .mui-indexed-list-bar{
	width:21px;
	float:right;
	margin:1%;
}
.search-list .mui-indexed-list-bar a{
	width:21px;
	height:21px;
	border-radius:100%;
	overflow:hidden;
	display:block;
	background-color:#ee2d3b;
	font-size:13px;
	text-align:center;
	color:#fff;
	line-height:21px;
	margin-bottom:1px;
	cursor: pointer;
}
.search-list .mui-indexed-list-inner{
	height:570px;
	overflow-y:auto;
}
.search-list .mui-indexed-list-inner li{
	width:94%;
	line-height:36px;
	font-size:14px;
	margin:0!important;
	padding:0 3%;
}
.search-list .mui-indexed-list-inner li.mui-indexed-list-group{
	width:91%;
	padding:0;
	margin:0 0 0 3%!important;
	border:1px solid #eaeaea;
	border-width:1px 0;
	font-weight:bold;
	font-size:16px;
}
.search-list .mui-indexed-list-inner li.mui-indexed-list-group:first-child{
	border-top-width:0;
}
.search-list .mui-indexed-list-inner li.mui-indexed-list-item{width:94%;font-size:14px;cursor: pointer;}
.search-list .mui-indexed-list-inner li.mui-indexed-list-item:hover,
.search-list .mui-indexed-list-inner li.selected{
	background-color:#009dbb;
	color:#fff;
}

/* sel-con */
.sel-con .sel-list{
	width:100%;
	position:absolute;
	top:39px;
	left:0;
	background-color:#fff;
	z-index:11;
	color:#333;
	box-shadow:0 0 7px #e5e5e5;
	border-radius:3px;
	overflow:hidden;
	display:none;
}

.sel-con .sel-list .btn-mod{
	width:60%;
	height:39px;
	line-height:39px;
	margin:30px auto;
	display:block;
	font-size:16px;
}
.sel-con .sel-list.list-box .btn-mod{
	margin-bottom:15px;
}
.sel-con .sel-list li{
	width:auto;
	line-height:36px;
	font-size:14px;
	margin:0!important;
	padding:0 10%;
}
.sel-con .sel-list li i{
	width:16px;
	height:16px;
	margin-right:5px;
	border-radius:2px;
	border:1px solid rgba(206,206,206,.5);
	display:inline-block;
	vertical-align:middle;
	position: relative;
}
.sel-con .sel-list li i::before{
	content:'';
	width:12px;
	height:10px;
	position: absolute;
	top:2px;
	left:0px;
	line-height: normal;
	background:url(../images/upload/selected_i.png)no-repeat center;
}
.sel-con .sel-list li:hover{
	background-color:#009dbb;
	color:#fff;
}
.sel-con .sel-list .selected i{
	border-color:#009dbb;
	background-color:#009dbb;
}
.sel-con .sel-list.multiple{
	width:135%;
	margin-left:-15%;
}
.sel-con .sel-list.multiple span{
	width:58%;
	display:inline-block;
}
.sel-con .sel-list.multiple li span.sq{
	width:42%;
}
.eng .sel-con .sel-list.multiple{
	width:190%;
	margin-left:-45%;
}
.eng .sel-con .sel-list.multiple span{
	width:60%;
}
.eng .sel-con .sel-list.multiple li span.sq{
	width:40%;
}


.sel-con .sel-list.multiple li{padding:0;}
.sel-con .sel-list.multiple li span{padding:0 10%;}

.sel-con .sel-list.multiple li:hover{
	background-color:transparent;
	color:inherit;
}
.sel-con .sel-list.multiple li span:hover{
	background-color:#009dbb;
	color:#fff;
}
.sel-con .sel-list.multiple li span.sq:hover{
	background-color:#ee2d3a;
	color:#fff;
}
.sel-con .sel-list.multiple li.selected i{
	border-color:transparent;
	background-color:transparent;
}
.sel-con .sel-list.multiple li span.selected i{
	border-color:#009dbb;
	background-color:#009dbb;
}
.sel-con .sel-list.multiple li span.sq.selected i{
	border-color:#ee2d3a;
	background-color:#ee2d3a;
}



/* selbox */
.selbox{min-width:82px;}
.selbox em{
	color:#333!important;
	margin:0!important;
}
.selbox .list-box{
	min-width:95px;
	background:#fff;
	position:absolute;
	box-shadow:0 0 7px #e5e5e5;
	display:none;
	border-radius:3px;
	padding:10px 0;
}
.eng .selbox .list-box{
	min-width:120px;
}
.selbox:hover .list-box{
	display:block;
}

.selbox.sel-con:hover .list-box{
	display:none;
}
.selbox .list-box ul{display:block!important;}
.selbox .list-box li{
	line-height:32px;
	padding:0 15px;
	font-size:14px;
	color:#153359;
	margin:0!important;
	display:block!important;
}
.selbox .list-box li:hover{
	background-color:#009dbb;
	color:#fff!important;
}
.selbox .list-box.sel-list{
	width:270px;
	top:auto;
	padding:15px 0;
}
.eng .selbox .list-box.sel-list{
	width:350px;
}
.selbox .list-box.sel-list.maxw{width:200px;}
.eng .selbox .list-box.sel-list.maxw{width:350px;}
.selbox .list-box.sel-list h3{
    padding:5px 10% 5px;
}
.selbox .list-box.sel-list ul{overflow:hidden;}
.selbox .list-box.sel-list li{
	width: 50%!important;
    line-height: 36px;
    font-size: 14px;
    margin: 0;
    padding: 0 3% 0 10%;
    float: left;
    position: relative;
}
.selbox .list-box.sel-list.maxw li{
	width:100%!important;
}
.selbox .list-box.sel-list li.list-sub,
.sel-list li.list-sub{padding:0;}
.selbox .list-box.sel-list li.list-sub span,
.sel-list li.list-sub span{
    padding: 0 3% 0 10%;
	display:block;
}
.sel-list li.list-sub span:after{
	border-top: solid 1px #333;
    border-right: solid 1px #333;
    content: "";
	height: 7px;
	display:inline-block;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
	width: 7px;
	vertical-align: middle;
	margin:-5px 0 0 10px;
}
.selbox .list-box.sel-list li.list-sub span.active:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top:3px;
}
.selbox .list-box.sel-list li.list-sub:hover,
.sel-list li.list-sub:hover{
	background-color:transparent;
	color:#153359!important;
}
.selbox .list-box.sel-list li.list-sub:hover span,
.sel-list li.list-sub:hover span{
	background-color:#009dbb;
	color:#fff!important;
}
.sel-list li.list-sub:hover span:after{
	border-top-color:#fff;
    border-right-color:#fff;
}
.sel-list li.list-sub ul{height:0;overflow: hidden;box-sizing: border-box;}
.sel-list li.list-sub ul li:last-child{border-bottom:1px solid #ebebeb;}
.selbox .list-box.sel-list li.list-sub ul li,
.sel-list li.list-sub ul li{
	color:#9a9a9a;
}

.privacy{padding:80px }
.privacy .content{
	background:#fff;
	overflow: hidden;
}
.privacy h1{margin: 0;padding:20px 30px;border-bottom:1px solid #efefef;font-size:28px;}
.privacy h3,.privacy p{margin: 0;padding:0 30px;}
.privacy h3{font-size:20px;margin-top:50px;}
.privacy p{margin:15px 0;font-size:16px;}
.privacy .end{margin-top:50px;}

.uphead .sethead{position: relative;margin:30px 0;}
.uphead #clipArea{
	width:300px;
	height:300px;background:#ccc;
}
.uphead .sethead .photo-clip-area{
	border:none!important;
}
.uphead{text-align:center;}
.uphead .btn-mod{
	padding:0 30px;
	margin:0 15px;
}
.uphead #file{
	width:100%;
	height:100%;;
	position: absolute;
	top:0;
	left:0;
	opacity:0;
	z-index:10;
	cursor: pointer;
}


@media (min-width:1200px){
	.login .content{
		width:auto;
	}
}
@media (max-width:1200px){
	.w1200{width:980px;}
	.list-item li{
			width: 32%;
    	margin-right: 2%;
	}
	.list-item li .img{height:auto}
	.list-item li .toolbox .btn-mod{
		height:39px;
		line-height:39px;
		font-size:16px;
	}
	
	.toolbar .sortbar .sort-item em{
		margin-right:10px;
	}
	.toolbar .sortbar .sort-item ul{display:inline-block;}
	.toolbar .sortbar .sort-item ul li{
		margin-right:15px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
   
	header .logo{
		background-image:url(../images/@2x/logo.png);
	}
	header .nav-right .nav-user .user-subnav li.signout i{
		background-image:url(../images/@2x/usersubnav_i.png);
	}

	.index .search_wrap .search form button:before,
	.index .h_search .content .btn-mod:before{
		background-image:url(../images/@2x/index/s_i.png);
	}
	.index .search_wrap .arrow::after{
		background-image:url(../images/@2x/index/arrow.png);
	}
	.index .h_search .content .search_sel li i.i_1{
		background-image:url(../images/@2x/index/s_r_i1.png);
	}
	.index .h_search .content .search_sel li i.i_2{
		background-image:url(../images/@2x/index/s_r_i2.png);
	}
	.index .h_search .content .search_sel li i.i_3{
		background-image:url(../images/@2x/index/s_r_i3.png);
	}
	.index .h_search .content .search_sel li.active::before{
		background-image:url(../images/@2x/index/s_r_active.png);
	}
	.index .h_search .s_popwrap .close{
		background-image:url(../images/@2x/index/close.png);
	}
	.index .h_search .s_popwrap .swiper-button-prev,
	.index .h_search .s_popwrap .swiper-button-next{
		background-image:url(../images/@2x/index/swiper_arrow.png);
	}
	.index .h_search .s_popwrap .title i{
		background-image:url(../images/@2x/index/pop_tl_ico.png);
	}
	.index .h_search .team .s_poplist li::before{
		background-image:url(../images/@2x/index/team_i.png);
	}
	.index .h_search .format .s_poplist li i{
		background-image:url(../images/@2x/index/format_i.png);
	}
	.poptool .tab .tab-ico{
		background-image:url(../images/@2x/poptool.png);
	}
}